html {
    font-family: 'Montserrat', sans-serif;
}
.card {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
            1fr
        )
    );
    gap: 16px;
}
footer {
    margin-top: 13rem;
    margin-bottom: 0;
}